ul.backbonetree {
  list-style-type: none;
  ul {
    list-style-type: none;
  }
  li.node {
    label {
      display: inline;
      padding-left: 10px;
      input {
        margin-left: 0;
      }
    }
    > a.expand {
      float: left;
      margin: 0 8px 0 -10px;
      &:hover {
        text-decoration: none;
      }
      .icon-expand-alt {
        display: none;
      }
    }
    &.collapsed {
      > ul.children {
        display: none;
      }
      > a.expand {
        .icon-collapse-alt {
          display: none;
        }
        .icon-expand-alt {
          display: inline;
        }
      }
    }
  }
}
